<ion-header>
    <ion-navbar color="primary">
      <ion-title>Lista de Pendientes</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <h1>Lista de Pendientes</h1>
    <ion-card *ngFor="let lista of _listaDeseos.listas; let i = index">
      
      <ion-item color="dark" (click)="verDetalle(lista,i)">
        <h2 style="color:white;">{{lista.name}}</h2>
        <ion-note item-right>
          {{lista.items.length}} items
        </ion-note>
      </ion-item>
      
      <ion-list>
        <ion-item (click)="verDetalle(lista,i)" *ngFor="let item of lista.items | slice:0:2">
          <ion-icon *ngIf="!item.isComplete" ios="ios-square-outline" md="md-square-outline"></ion-icon>
          <ion-icon *ngIf="item.isComplete" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
          {{item.name}}
        </ion-item>

        <ion-item (click)="verDetalle(lista,i)" style="text-align:center;" *ngIf="lista.items.length>2">
          <ion-icon color="primary" ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        </ion-item>

      </ion-list>

    </ion-card>

    <ion-fab right bottom>
      <button ion-fab color="primary" (click)="irAgregar()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    
  </ion-content>
  